<h4><%= t('.sign_in', :default => "Sign in") %></h4>
  <div id="form-container">
    <div class="panel-heading">
      <%= bootstrap_form_for(resource, layout: :horizontal, as: resource_name, url: session_path(resource_name), ) do |f| %>
      <%= f.email_field :email %>
      <%= f.password_field :password, autocomplete: "off" %>
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
      <% end %>
      <%= f.submit 'Sign In' %>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
