<h1>My List</h1>

<table id="datatable" class="table">
  <thead>
    <tr>
      <th>Completed</th>
      <th>Item</th>
      <th>Days Left</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr id="item-<%= item.id %>">
        <td><%= link_to 'Mark Completed', item, method: :delete, remote: true %></td>
        <td><%= link_to "#{item.name}", item %></td>
        <td><%= ( 7 - ( (Time.zone.now - item.created_at)/(24*60*60) ).round ) %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to 'New Item', new_item_path %></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>

<br>