<!DOCTYPE html>
<html>
  <head>
    <title>Checkblox</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">

              <% if flash[:notice] %>
                <div class="alert alert-success alert-dismissible">
                  <%= flash.now[:notice] %>
                </div>
              <% elsif flash[:error] %>
                <div class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <%= flash[:error] %>
                </div>
              <% elsif flash[:alert] %>
                <div class="alert">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <%= flash[:alert] %>
                </div>
            <% end %>
                <h3 class="masthead-brand"><a href="/">Checkblox</a></h3>
                <% if current_user %>
                  <div class="masthead-nav navbar-right user-info" id="user-info">
                  Hello <%= link_to (current_user.name || current_user.email) %>!
                  <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
                    <span class="glyphicon glyphicon-user"></span>
                  <% end %>
                  <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
                    <span class="glyphicon glyphicon-log-out"></span>
                  <% end %>
                <% else %>
                  <ul class="nav masthead-nav">
                    <li class="inactive"><a href="/">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>

          <%= yield %>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>